*{box-sizing: border-box;}

header {
    display: flex;
    justify-content: left;
    align-items: left;
    background-color: black;
    color: white;
}

h2 {
    font: Garamond;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: lightseagreen;
    text-align: center;
    font-size: 48;
    font-family: Verdana, Tahoma, sans-serif
}

h3 {
    font-size: 36;
    text-align: center;
}

.tea-master-image {
    height: 250px;
    margin-top: 50px;
    align-content: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 150;
    width: 50%;
       
}
nav {ont: Garamond;
    text-align: center;
    margin-left: auto;
    margin-right: auto;}